model/
model_test/
model_t3enc_test/
model_t3_v6_buggy/
output/
test/
*.tar.gz
process_v6_original.py
Dockerfile.v6.bak
model_sub/
model_v8/
model_v9/
model_v10/
model_t3/
model_t3enc/
process_v*_backup.py
model_v11/
model_v13_new/
model_v13/alpha.json
